* {
    box-sizing: border-box;
}
html body {
    min-height: 100%;
    background: #fff;
    color: #000;
}

img {
    border: none;
    max-width: 100%;
}

.right {
    float: right;
    margin-left: 2rem;
    clear: right;
}
.left {
    float: left;
    margin-right: 2rem;
    clear: left;
}
